.sfPageEditor .mega-menu-items,
.sfPageEditor .mega-menu-item,
.sfPageEditor .navbar-collapse {
    display: block !important;
}

.sfPageEditor .mega-menu-item .container-fluid {
    max-width: 1200px;
}

.mega-menu-items,
.mega-menu-item {
    display: none;
}

.navbar-brand {
    height: auto;
    position: relative;
    left: auto;
    transform: none;
}

.container-fluid > .navbar-header {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    float: none;
}

.mega-menu img {
    width: 100%;
    margin-top: 20px;
}

img {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block;
        margin: 0 auto;
        max-width: 1200px;
    }

    .dropdown {
        position: static !important;
    }

    .mega-menu {
        display: block;
        left: 50%;
        transform: translateX(-50%) translateZ(0);
        width: calc(100% - 60px);
        max-width: 1200px;
        padding: 25px 75px;
        min-height: 250px;
        top: calc(100% + 75px);
        opacity: 0;
        visibility: hidden;
        transition-duration: .75s;
        //background: linear-gradient(to right, #fff, #efefef);
    }

    .open .mega-menu {
        top: calc(100% + 15px);
        opacity: 1;
        visibility: visible;
    }

    .sub-nav {
        float: left;
        width: calc(20% - 15px);
        padding-left: 0;
    }

    .mega-menu .mega-menu-item {
        display: block;
        float: right;
        width: calc(80% - 15px);
    }

    /*EXTRAS*/
    .sub-nav a {
        font-size: 1.5rem;
        line-height: 1.5em;
        display: inline-block;
        padding: 15px 0;
        text-transform: uppercase;
    }

    .mega-menu-item p {
        font-family: Calibri;
        font-size: 16px;
    }

    .mega-menu-item p::after {
        content: " ";
        display: table;
        clear: both;
    }
}