extends ../base.pug

block main
    +cnt
        +row
            +col('col-md-6')
                +article
            +col('col-md-6')
                +article
        +row
            +col('col-md-6')
                +article
            +col('col-md-6')
                +article
        +row
            +col('col-md-6')
                +article
            +col('col-md-6')
                +article
        +row
            +col('col-md-6')
                +article
            +col('col-md-6')
                +article