extends ../base.pug

block main
    +cnt    
        +row
            +col
                p
                    h3 Libraries
                    ul
                        li JSON Server
                        li NPM
                        li Pug Mixins
                        li Generated Content
                        li Implementations
                            ul
                                li 
                                    a(href="/stage/scrollify.html") Scrollify
                                li 
                                    a(href="/stage/scrollify.html") Animate.css
                                li
                                    a(href="/stage/scroll-reveal.html") Scroll Reveal
                                li GreenSock
                    h3 Generators
                    ul
                        li
                            a(href="/stage/articles.html") Articles
                        li Authors
                        li Lorem Ipsum
                        li Wysiwyg