//-STYLE GUIDE DESIGN SYSTEM THING
extends ../base.pug
block header
    +cnt
        +row
            +col
                div.content(style='margin: 50px; text-align: center')
                    h1 Scrollify with Animate.css
                    p This page uses scrollify and its callbacks to apply animate.css transitions
block main
    +scrollify('panel-one')
        +cnt
            +col('col-md-12')
                +animate('fadeIn')
                    +wysiwyg
    +scrollify('panel-two')
        +cnt
            +col('col-md-6')
                +animate('flash')
                    h2 
                        +ipsum(6)
                    p 
                        +ipsum(50)
                    p 
                        +ipsum(40)
            +col('col-md-6')
                +animate('pulse')
                    h2 
                        +ipsum(3)
                    p 
                        +ipsum(60)
                    p 
                        +ipsum(30)
    +scrollify('panel-three')
        +cnt
            +col('col-md-4')
                +animate('rubberBand')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('shake')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('headShake')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
    +scrollify('panel-four')
        +cnt
            +col('col-md-4')
                +animate('swing')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('tada')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('wobble')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('jello')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('bounceIn')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
            +col('col-md-4')
                +animate('bounceInDown')
                    h2 
                        +ipsum(5)
                    p 
                        +ipsum(90)
    +scrollify('panel-five')
        +cnt
            +col('col-md-6')
                +animate('bounceInLeft')
                    h2 
                        +ipsum(6)
                    p 
                        +ipsum(50)
                    p 
                        +ipsum(40)
            +col('col-md-6')
                +animate('bounceInRight')
                    h2 
                        +ipsum(3)
                    p 
                        +ipsum(250)
                    p 
                        +ipsum(30)
    +scrollify('panel-six')
        +cnt
            +col('col-md-6')
                +animate('bounceInUp')
                    h2 
                        +ipsum(6)
                    p 
                        +ipsum(50)
                    p 
                        +ipsum(40)
            +col('col-md-6')
                +animate('bounceOut')
                    h2 
                        +ipsum(3)
                    p 
                        +ipsum(250)
                    p 
                        +ipsum(30)