-function getRandom(n) {
-    var result = new Array(n),
-        len = ipsum.length,
-        taken = new Array(len);
-    if (n > len)
-        throw new RangeError("getRandom: more elements taken than available");
-    while (n--) {
-        var x = Math.floor(Math.random() * len);
-        result[n] = ipsum[x in taken ? taken[x] : x];
-        taken[x] = --len in taken ? taken[len] : len;
-    }
-    return result.join(' ');
-}

//- this block will overwrite what is in template.pug
mixin styleguide
	.style-guide
		+cnt
			.title System Colors
			.color-bar
				.accordion
					.color.color-light.trigger
					.accordion-content
						.container-fluid
							p #ffffff
							p $color-light
				.accordion
					.color.color-dark.trigger
					.accordion-content
						.container-fluid
							p #141414
							p $color-dark
				.accordion
					.color.color-primary.trigger
					.accordion-content
						.container-fluid
							p #006699
							p $color-primary
				.accordion
					.color.color-secondary.trigger
					.accordion-content
						.container-fluid
							p #ff3333
							p $color-secondary
			.title Accent Colors
			.color-bar
				.accordion
					.color.color-accent-light.trigger
					.accordion-content
						.container-fluid
							p #999999
							p $color-accent-light
				.accordion
					.color.color-accent-dark.trigger
					.accordion-content
						.container-fluid
							p #666666
							p $color-accent-dark
				.accordion
					.color.color-accent-primary.trigger
					.accordion-content
						.container-fluid
							p #00abff
							p $color-accent-primary
				.accordion
					.color.color-accent-secondary.trigger
					.accordion-content
						.container-fluid
							p #0086c4
							p $color-accent-secondary

			.title Character Styles
			.h1 Header 1
			.flex-row
				.col-md-6
					.h2 Header 2
					.h3 Header 3
					.h4 Header 4
					.h5 Header 5
					.subheader Subheader
					.quote Quote
					p.large Large Body
					p Body
					p.small Small Body
					.placeholder Placeholder
					a(href="javascript:void(0)") Link
					p.btn-row
						a.btn.btn-primary PRIMARY BUTTON
						a.btn.btn-primary.hover HOVER
					p.btn-row
						a.btn.btn-secondary SECONDARY BUTTON
						a.btn.btn-secondary.hover HOVER

				.col-md-6
					.title Paragraph Styles
					.title Large
					p.large Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem 

					.title Standard
					p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium 
					
					.title Small
					p.small Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi 
					
					.title Quote
					.quote "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi"


					.title List
						small uses ".list" class
					ul.list
						li Proin eget tortor risus
						li Proin eget tortor risus
						li Proin eget tortor risus
						li Proin eget tortor risus
			.title Form Controls
			.flex-row
				.col-md-6
					input(type='text' placeholder='First Name')
					input(type='text' placeholder='Last Name')
					input(type='text' placeholder='Title')
					input(type='text' placeholder='Company')
					input(type='text' placeholder='Email')


