footer {
   
    margin-top: 25px;
    background-color: $navy;
    color: $menu-item;


    .footer-wrapper {
        background: url('/img/footer-bg.png') no-repeat center;
        background-size: cover;
        padding: 30px 0 60px;
    }

    .app-links {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .app-link {
            flex: 1 1 33%;
        }
    }
}