header {
    background-color: $navy;
    color: $menu-item;
    margin-bottom: 25px;
    button {
        border-radius: 50px;
        background-color: #2BA26F;
        border-color: #0DC9A3;
        border-style: solid;
        padding: 10px 40px;
    }
    .top-menu {
        text-align: right;
        text-transform: uppercase;
        padding-top: 6px;
        a {
            padding: 10px;
            transition: all .5s;
            color: $white;
        }

        @include states {
            cursor: pointer;
            a {
                
                text-decoration: none;
            }

        }
    }

    svg#logo {
            max-height: 30px;
            height: 30px;
            fill: white;
        }
    

    .header-wrapper {
        background: url('/img/header-background-svg.svg') no-repeat center;
        background-size: cover;
        padding: 30px 0 60px;
    }

    .video-link {
        height: 200px;
        background: url('/img/header-devices.png') no-repeat center;
        background-size: 500px;
        margin-top: 50px;
    }
}