extends base.pug

//- this block will overwrite what is in template.pug
block main
    +cnt
        +row
            +col
                //- attributes can be added inside ()
                h2(style='margin-top: 0').
                    Welcome to your new pug templates!
                //- text can be inlined, no problem
                p You might notice that, on the surface, this looks a little confusing.
                //- or multi-line text can be written if you end a tag with '.'
                p.
                    But fear not, give yourself a day to play and you'll be up to speed 
                    and quickly building things for the future. We've tried to capture a
                    number of ways to write pug syntax so we can all gain momentum quickly.
                p
                    h3 First, let's talk about 
                        a(href='https://pugjs.org/api/getting-started.html', style='color: #369') Pug
                    //- plain text can be 'piped' out
                    | Everything you see here consists of a bunch of smaller pieces
                    | that more closely resemble how a site might be applied in a cms, or in general, the various components that
                    | make up even a static site with rigid separation of concerns. By creating everything in pug, we get
                    | get to take advantage of a cms like dev experience, using includes and succinct markup to create our themes,
                    | components, and enabling us to quickly stage them for review and delivery.
                p
                    h3 Secondly, let's talk about 
                        a(href='https://www.npmjs.com/package/browser-sync', style='color: #369') Browser Sync
                    | Browser sync is going to speed things up for you, and since the goal of a template project is to keep our
                    | front-end development in an instant-feedback environment, we can use gulp processes to compile all of our assets,
                    | including html/pug, and then pass that off to browser sync to automatically detect changes and refresh your
                    | browser without mouse-clicks.
                