extends base.pug

mixin feature(className)
    .feature-wrapper
        .feature-details
            .title(class= className)
                +scroll-reveal('from-top')
                    +ipsum(2)
            .text
                +scroll-reveal('from-top')
                    +ipsum(40)

block header
    .header-wrapper
        +cnt
            +row
                +col('col-xs-3')
                    // Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                    svg#logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 179.8 24.5', style='enable-background:new 0 0 179.8 24.5;', xml:space='preserve')
                        path.st0(d='M14.4,17.6c0-3.7-2.4-5.8-5.8-6.8C6.1,10,2.8,9.4,3,5.9c0.1-1,0.5-1.9,1.2-2.6c0.9-0.8,2-1.2,3.1-1.1\
                        c2.3,0,4.2,1.9,4.2,4.2c0,0,0,0.1,0.1,0.1h2.2c0,0,0.1,0,0.1-0.1C13.8,2.9,11,0,7.5,0C7.4,0,7.4,0,7.3,0C3.8-0.2,0.8,2.6,0.6,6.1\
                        c0,0.1,0,0.2,0,0.2c0,4.1,2.8,5.2,6.1,6.2c2.7,0.8,5.5,2,5.3,5.5c-0.2,2.4-2.3,4.3-4.8,4.3h0c-3,0-4.8-2-4.9-4.8c0,0,0-0.1-0.1-0.1\
                        H0.1c0,0-0.1,0-0.1,0.1c0.1,4.2,3.1,7,7.3,7C11.2,24.6,14.4,21.5,14.4,17.6C14.4,17.6,14.4,17.6,14.4,17.6z')
                        path.st1(d='M30.6,2.5v-2c0,0,0-0.1-0.1-0.1H17.4c0,0-0.1,0-0.1,0.1v2c0,0,0,0.1,0.1,0.1h5.3c0,0,0.1,0,0.1,0.1V24\
                        c0,0,0,0.1,0.1,0.1h2.2c0,0,0.1,0,0.1-0.1V2.6c0,0,0-0.1,0.1-0.1L30.6,2.5C30.5,2.6,30.6,2.5,30.6,2.5z')
                        path.st2(d='M51,8.1c0-2.9-1.6-5.5-4.2-6.7c0,0,0,0,0,0c-1.9-0.7-3.8-1-5.8-0.9H35c0,0-0.1,0-0.1,0.1V24c0,0,0,0.1,0.1,0.1\
                        h2.2c0,0,0.1,0,0.1-0.1V2.6c0,0,0-0.1,0.1-0.1h4.1C43,2.5,44.6,2.8,46,3.5c1.6,0.9,2.6,2.7,2.6,4.5c0,2.4-1.6,4.4-3.9,5\
                        c-1.6,0.3-3.3,0.5-4.9,0.4c-0.1,0-0.1,0.1-0.1,0.1l7.9,10.6c0,0,0,0,0.1,0h2.8c0.1,0,0.1-0.1,0.1-0.1L44,15.4c0,0,0-0.1,0.1-0.1\
                        C48,15.1,51,11.9,51,8.1L51,8.1z')
                        path.st3(d='M72.6,15.2V0.5c0,0,0-0.1-0.1-0.1h-2.2c0,0-0.1,0-0.1,0.1v14.7c0.1,1.5-0.2,2.9-0.8,4.3c-0.9,1.8-2.8,3-4.9,2.9\
                        c-2.1,0.1-4-1.1-4.9-2.9c-0.6-1.4-0.9-2.8-0.8-4.3V0.5c0,0,0-0.1-0.1-0.1h-2.2c0,0-0.1,0-0.1,0.1v14.7c0,1.7,0.3,3.4,0.9,4.9\
                        c1.3,2.8,4.1,4.5,7.2,4.4c3.1,0.1,5.9-1.6,7.2-4.4C72.3,18.5,72.6,16.9,72.6,15.2L72.6,15.2z')
                        path.st4(d='M101.5,17.9H99c0,0,0,0-0.1,0c-1.9,2.7-5,4.4-8.3,4.4c-5.5-0.2-9.9-4.6-10-10c0-5.5,4.4-10,10-10.1\
                        c3.3,0,6.3,1.6,8.2,4.3c0,0,0,0,0.1,0h2.5c0.1,0,0.1-0.1,0.1-0.1c-0.4-0.8-0.9-1.5-1.5-2.1C97.6,1.6,94.2,0,90.7,0\
                        c-6.7-0.1-12.3,5.3-12.4,12c0,0.1,0,0.2,0,0.3c0,6.8,5.6,12.3,12.3,12.2c0,0,0,0,0.1,0c4.5,0,8.7-2.5,10.8-6.5\
                        C101.6,18,101.5,17.9,101.5,17.9z')
                        path.st5(d='M118.3,2.5v-2c0,0,0-0.1-0.1-0.1h-13.1c0,0-0.1,0-0.1,0.1v2c0,0,0,0.1,0.1,0.1h5.3c0,0,0.1,0,0.1,0.1V24\
                        c0,0,0,0.1,0.1,0.1h2.2c0,0,0.1,0,0.1-0.1V2.6c0,0,0-0.1,0.1-0.1L118.3,2.5C118.2,2.6,118.3,2.5,118.3,2.5z')
                        path.st6(d='M138.9,15.2V0.5c0,0,0-0.1-0.1-0.1h-2.2c0,0-0.1,0-0.1,0.1v14.7c0.1,1.5-0.2,2.9-0.8,4.3\
                        c-0.9,1.8-2.8,3-4.9,2.9c-2.1,0.1-4-1.1-4.9-2.9c-0.6-1.4-0.9-2.8-0.8-4.3V0.5c0,0,0-0.1-0.1-0.1h-2.2c0,0-0.1,0-0.1,0.1v14.7\
                        c0,1.7,0.3,3.4,0.9,4.9c1.3,2.8,4.1,4.5,7.2,4.4c3.1,0.1,5.9-1.6,7.2-4.4C138.7,18.5,139,16.9,138.9,15.2z')
                        path.st7(d='M161.6,8.1c0-2.9-1.6-5.5-4.2-6.7c0,0,0,0,0,0c-1.9-0.7-3.8-1-5.8-0.9h-5.9c0,0-0.1,0-0.1,0.1V24\
                        c0,0,0,0.1,0.1,0.1h2.2c0,0,0.1,0,0.1-0.1V2.6c0,0,0-0.1,0.1-0.1h4.1c1.6-0.1,3.2,0.2,4.6,0.9c1.6,0.9,2.6,2.7,2.6,4.5\
                        c0,2.4-1.6,4.4-3.9,5c-1.6,0.3-3.3,0.5-4.9,0.4c-0.1,0-0.1,0.1-0.1,0.1l7.9,10.6c0,0,0,0,0.1,0h2.8c0.1,0,0.1-0.1,0.1-0.1l-6.5-8.6\
                        c0,0,0-0.1,0.1-0.1C158.5,15.1,161.6,11.9,161.6,8.1L161.6,8.1z')
                        path.st8(d='M179.8,24v-2c0-0.1,0-0.1-0.1-0.1h-10.4c-0.1,0-0.1,0-0.1-0.1v-8.5c0-0.1,0-0.1,0.1-0.1h10c0.1,0,0.1,0,0.1-0.1\
                        v-2c0-0.1,0-0.1-0.1-0.1h-10c-0.1,0-0.1,0-0.1-0.1V2.7c0-0.1,0-0.1,0.1-0.1h10.4c0.1,0,0.1,0,0.1-0.1v-2c0-0.1,0-0.1-0.1-0.1H167\
                        c-0.1,0-0.1,0-0.1,0.1V24c0,0.1,0,0.1,0.1,0.1L179.8,24C179.8,24.1,179.8,24.1,179.8,24z')

                +col('col-xs-9')
                    .top-menu
                        a(href='') Pricing
                        a(href='') Benefits
                        a(href='') Features
            +row
                +col('col-md-6 col-md-push-6 video-link')
                +col('col-md-6 col-md-pull-6')
                    +scroll-reveal('from-top')
                        h1.
                            Powerful, yet simple firm management software for Architects & Engineers.
                    +scroll-reveal('from-top')
                        p
                            +ipsum(50)
                    +scroll-reveal('from-top')
                        button.notapill GET A DEMO
block sub-header

block main
    .body
        +cnt
            +row
                +scroll-reveal('from-top')
                    +col('col-md-6 device-photo') 
                    +col('col-md-6')
                        +scroll-reveal('from-top')
                            h2 Know when and what your employees are working on. Anytime, anywhere.
                        +scroll-reveal('from-top')
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .check-list
                            +scroll-reveal('from-top')
                                .item 
                                    i.fa.fa-check
                                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                            +scroll-reveal('from-top')    
                                .item 
                                    i.fa.fa-check
                                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                            +scroll-reveal('from-top')   
                                .item 
                                    i.fa.fa-check
                                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                            +scroll-reveal('from-top')    
                                .item 
                                    i.fa.fa-check
                                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
        .light-wrapper
            +cnt
                +row
                    +scroll-reveal('from-top')
                        +col('col-xs-12')
                            .surtitle Structure Features
                            .title Improve Your Bottom Line with These Must-Have Features.
                .features
                    +scroll-reveal('from-top')
                        +feature('pm', 'img/icon-users.svg')
                    +scroll-reveal('from-top')
                        +feature('tt', 'img/icon-hourglass.svg')
                    +scroll-reveal('from-top')
                        +feature('rs', 'img/icon-scheduling.svg')
                    +scroll-reveal('from-top')
                        +feature('si', 'img/icon-invoice.svg')
                    +scroll-reveal('from-top')
                        +feature('qi', 'img/icon-qb.svg')
                    +scroll-reveal('from-top')
                        +feature('cb', 'img/icon-cloud.svg')
        +cnt
            +row
                +col
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
        +cnt
            +row
                +col
                    h3 Structure Pricing
                    h2 Get the Right Set of Features for Your Business.
                +col
                    .pricing-plan-desktop
                        .heading-row
                            .heading.column
                            .heading.column Free
                            .heading.column Basic
                            .heading.column.featured Professional
                            .heading.column Enterprise
                        .feature-row
                            .column Project Management
                            .column.checked
                            .column.checked
                            .column.checked.featured
                            .column.checked
                        .feature-row
                            .column Reporting
                            .column.checked
                            .column.checked
                            .column.checked.featured
                            .column.checked
                        .feature-row
                            .column Resource Scheduling
                            .column.checked
                            .column.checked
                            .column.checked.featured
                            .column.checked
                        .feature-row
                            .column Time Entry
                            .column
                            .column.checked
                            .column.checked.featured
                            .column.checked
                        .pricing-row
                            .column Price Per User
                            .column
                                .price 
                                    h3 Free
                                    img(src='img/price-0mo.svg')
                            .column
                                .price 
                                    h3 Basic
                                    img(src='img/price-5mo.svg')
                            .column
                                .price 
                                    h3 Professional
                                    img(src='img/price-15mo.svg')
                            .column
                                .price 
                                    h3 Enterprise
                                    img(src='img/price-20mo.svg')

                    .pricing-plan-mobile
                        .pricing-plan
                            .price 
                                h3 Free
                                img(src='img/price-0mo.svg')
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                        .pricing-plan
                            .price 
                                h3 Basic
                                img(src='img/price-5mo.svg')
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                        .pricing-plan.featured
                            .price 
                                h3 Professional
                                img(src='img/price-15mo.svg')
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                                .feature Billing
                                .feature Invoice Templates
                                .feature Dashboards
                                .feature Email Invoices
                                .feature Setup & Training
                        .pricing-plan
                            .price 
                                h3 Enterprise
                                img(src='img/price-20mo.svg')
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                                .feature Billing
                                .feature Invoice Templates
                                .feature Dashboards
                                .feature Email Invoices
                                .feature Quickbooks Online Integration
                                .feature API Access
                                .feature Setup & Training
     
block footer
    .footer-wrapper
        +cnt
            +row
                +col('col-md-6')
                    h3 Manage Your Projects Anywhere with Structure Mobile
                    p Our mobile app lets you quickly and easily manage your work time right from your mobile device. Through the app you can enter, review, and edit both billable and non-charge time entries. Plus, it seamlessly ties into all the other features of the main Structure software.
                    .app-links
                        .app-link 
                            a
                                img(src='img/app-googleplay-button-white.svg')
                        .app-link 
                            a
                                img(src='img/app-appstore-button-white.svg')
                        .app-link 
                            a
                                img(src='img/app-quickbooks-button-white.svg')
                    .legal
                        p Legal Stuff, Copyright Us 2018.
                +col('col-md-6')
                    h1 FORM HERE