extends base.pug

mixin feature(className)
    .feature-wrapper
        .feature-details
            .title(class= className)
                +ipsum(2)
            .text
                +ipsum(40)

block header
    .header-wrapper
        +cnt
            +row
                +col('col-xs-3')
                   include components/svg/structure.pug
                +col('col-xs-9')
                    .top-menu
                        a(href='') Pricing
                        a(href='') Benefits
                        a(href='') Features
                        button.notapill.hidden-xs.hidden-sm.hidden-md GET A DEMO
            +row
                +col('col-md-6 col-md-push-6')
                    .video-link
                    //-iframe(width='560', height='315', src='https://www.youtube.com/embed/WxtOCxxP1do', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                +col('col-md-6 col-md-pull-6')
                    h1.
                        Powerful, yet simple firm management software for Professional Services Firms.
                    p.
                        Firm management software doesn’t have to be complicated. Move away from the overhead of other professional services software with Structure. This easy-to-use platform lets you manage every aspect of your projects, from resource scheduling to client billing.
                    button.notapill.hidden-lg GET A DEMO
block sub-header

block main
    .body
        +cnt
            +row
                +col('col-md-6') 
                    +scroll-reveal('from-bottom')
                        .device-photo
                +col('col-md-6')
                    +scroll-reveal('from-right')
                        h2 Know when and what your employees are working on. Anytime, anywhere.
                    +scroll-reveal('from-right')
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .check-list
                        +scroll-reveal('from-right')
                            .item 
                                i.fa.fa-check
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                        +scroll-reveal('from-right')    
                            .item 
                                i.fa.fa-check
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                        +scroll-reveal('from-right')   
                            .item 
                                i.fa.fa-check
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
                        +scroll-reveal('from-right')    
                            .item 
                                i.fa.fa-check
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod
        .light-wrapper
            +cnt
                +row
                    +col('col-xs-12')
                        +scroll-reveal('from-top')
                            .surtitle Structure Features
                        +scroll-reveal('from-top')
                            .title Improve Your Bottom Line with These Must-Have Features.
                .features
                    +scroll-reveal('from-bottom')
                        +feature('pm', 'img/icon-users.svg')
                    +scroll-reveal('from-bottom')
                        +feature('tt', 'img/icon-hourglass.svg')
                    +scroll-reveal('from-bottom')
                        +feature('rs', 'img/icon-scheduling.svg')
                    +scroll-reveal('from-bottom')
                        +feature('si', 'img/icon-invoice.svg')
                    +scroll-reveal('from-bottom')
                        +feature('qi', 'img/icon-qb.svg')
                    +scroll-reveal('from-bottom')
                        +feature('cb', 'img/icon-cloud.svg')
        +cnt
            +row
                +col
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
                    .testimonial
                        .image
                        .name
                        .title
                        .quote
        +cnt
            +row
                +col
                    .pricing-plan-header
                        +scroll-reveal('from-top')
                            .surtitle Structure Pricing
                        +scroll-reveal('from-top')
                            .title Get the Right Set of Features for Your Business.
                +col
                    .pricing-plan-desktop
                        .heading-row
                            .heading.column
                            .heading.column Free
                            .heading.column Basic
                            .heading.column.featured Professional
                            .heading.column Enterprise
                        .feature-row
                            .column Project Management
                            .column.checked
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Reporting
                            .column.checked
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Resource Scheduling
                            .column.checked
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Time Entry
                            .column
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Mobile App
                            .column
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column PTO Tracking
                            .column
                            .column.checked
                                i.fa.fa-check
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Billing
                            .column
                            .column
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Invoice Templates
                            .column
                            .column
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Dashboards
                            .column
                            .column
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Email Invoices
                            .column
                            .column
                            .column.checked.featured
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Quickbooks Online Integration
                            .column
                            .column
                            .column.featured
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column API Access
                            .column
                            .column
                            .column.featured
                            .column.checked
                                i.fa.fa-check
                        .feature-row
                            .column Setup & Training
                            .column
                            .column
                            .column.featured.checked
                                i.fa.fa-check
                            .column.checked
                                i.fa.fa-check
                        .feature-row.support
                            .column Support
                            .column Online Knowledgebase
                            .column On Demand
                            .column.featured Assigned Support Rep w/SLA
                            .column Assigned Support Rep w/SLA
                        .pricing-row
                            .column Price Per User
                            .column
                                .price
                                    include components/svg/price-0mo.pug
                            .column
                                .price
                                    include components/svg/price-5mo.pug
                            .column.featured
                                .price
                                    include components/svg/price-15mo.pug
                            .column
                                .price
                                    include components/svg/price-20mo.pug
                        .pricing-row
                            .column
                            .column
                            .column
                                p Per User Billed Annually#[br]$7 Billed Monthly
                            .column.featured
                                p Per User Billed Annually#[br]$18 Billed Monthly
                            .column
                                p Per User Billed Annually#[br]$25 Billed Monthly
                        .pricing-row
                            .column
                            .column
                                button.notapill GET STRUCTURE TODAY
                            .column
                                button.notapill GET STRUCTURE TODAY
                            .column.featured
                                button.notapill GET STRUCTURE TODAY
                            .column
                                button.notapill GET STRUCTURE TODAY

                    .pricing-plan-mobile
                        .pricing-plan
                            .price 
                                h3 Free
                                include components/svg/price-0mo.pug
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                        hr
                        .pricing-plan
                            .price 
                                h3 Basic
                                include components/svg/price-5mo.pug
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                        hr
                        .pricing-plan.featured
                            .price 
                                h3 Professional
                                include components/svg/price-15mo.pug
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                                .feature Billing
                                .feature Invoice Templates
                                .feature Dashboards
                                .feature Email Invoices
                                .feature Setup & Training
                        hr
                        .pricing-plan
                            .price 
                                h3 Enterprise
                                include components/svg/price-20mo.pug
                                .order
                                    button.notapill GET STRUCTURE TODAY
                            .features
                                .feature Project Management
                                .feature Reporting
                                .feature Resource Scheduling
                                .feature Time Entry
                                .feature Mobile App
                                .feature PTO Tracking
                                .feature Billing
                                .feature Invoice Templates
                                .feature Dashboards
                                .feature Email Invoices
                                .feature Quickbooks Online Integration
                                .feature API Access
                                .feature Setup & Training
                        hr
     
block footer
    .footer-wrapper
        +cnt
            +row
                +col('col-md-6')
                    +scroll-reveal('from-bottom')
                        h3 Manage Your Projects Anywhere with Structure Mobile
                        p Our mobile app lets you quickly and easily manage your work time right from your mobile device. Through the app you can enter, review, and edit both billable and non-charge time entries. Plus, it seamlessly ties into all the other features of the main Structure software.
                        .app-links
                            .app-link 
                                a
                                    img(src='img/app-googleplay-button-white.svg')
                            .app-link 
                                a
                                    img(src='img/app-appstore-button-white.svg')
                            .app-link 
                                a
                                    img(src='img/app-quickbooks-button-white.svg')
                        .legal
                            p Legal Stuff, Copyright Us 2018.
                +col('col-md-6')
                    +scroll-reveal('from-bottom')
                        h1 FORM HERE